<!doctype html>      <!Essa primeira linha diz que o chrome deve interpretar esse arquivo como  um html>

<html lang="pt-br"> <! Área padrão do HTML> 

<head> <! Área de cabeçalho do html> 

    <meta charset="utf-8"/> <!Diz que os caracteres que eu vou usar são latinos(com assento)>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Menu Principal</title>
</head>


<body>  <!O código Principal em si>

  <h1 class="formatarGeral">Este é um título</h1>


<center>
 
	<img src="http://2.bp.blogspot.com/-MhW1NTZb4Ew/Vq31n6bvvTI/AAAAAAAAARE/b6y3VcyfKy8/s1600/IFPB_Campus_Santa_Rita.jpg" height =90px width=280px >


<br><br> <!Estabelece quebras de linha>
<button type="button" class="btn btn-primary">Cadastrar Alunos</button>
<br><br>
<button type="button" class="btn btn-primary">Selecionar Presenças & Faltas</button>
<br><br>
<button type="button" class="btn btn-primary">Justificativas de Faltas</button>
<br><br>
<button type="button" class="btn btn-primary">Gerar Declaração Estudantil</button>
<br><br>
<button type="button" class="btn btn-primary">Gerar Lista de Presença</button>
<br><br><br><br>

<button type="button" class="btn btn-primary MeuInput">Adicionar Notificação</button>
<br>



</center> 

</body>
</html>


