<!doctype html>      <!Essa primeira linha diz que o chrome deve interpretar esse arquivo como  um html>

<html lang="pt-br"> <! Área padrão do HTML> 

<head> <! Área de cabeçalho do html> 

    <meta charset="utf-8"/> <!Diz que os caracteres que eu vou usar são latinos(com assento)>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Menu Principal</title>
</head>
<link rel="stylesheet" type="text/css" href="templates.css">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script src="templatesjava.js"></script>




<body>  <!O código Principal em si>

  




<center>
 	<img src="http://2.bp.blogspot.com/-MhW1NTZb4Ew/Vq31n6bvvTI/AAAAAAAAARE/b6y3VcyfKy8/s1600/IFPB_Campus_Santa_Rita.jpg" height =90px width=280px >
</center>

<br>




<br>
<center>
<div align=right class="mb-1">
<i class="formatarSFA">SFA</i>
</div>





<div class="list-group formatarCaixasDeFormulario">
 <a href="http://127.0.0.1:8000/admin/core/aluno/add/" class="list-group-item list-group-item-action list-group-item active">Cadastrar Alunos</a>

 <a href="http://127.0.0.1:8000/admin/core/selecionarpresencasefaltas/add/" class="list-group-item list-group-item-action list-group-item-primary">Selecionar Presenças & Faltas</a>

<a href="http://127.0.0.1:8000/admin/core/adicionar_justificativa_de_falta/add/" class="list-group-item list-group-item-action list-group-item-secondary">Justificativas de Faltas</a>

<a href="http://127.0.0.1:8000/admin/core/gerardeclaracaoestudantil/add/" class="list-group-item list-group-item-action list-group-item-success">Gerar Declaração Estudantil</a>
<div>

 <a href="http://127.0.0.1:8000/admin/core/gerarlistasdepresenca/add/" class="list-group-item list-group-item-action ">Gerar Lista de Presença</a>
 <div>

 <a href="http://127.0.0.1:8000/admin/core/notificacao/add/" class="list-group-item list-group-item-danger  ">Adicionar Notificação</a>
 <div>









</center> 

</body>
</html>



