<!doctype html>      <!Essa primeira linha diz que o chrome deve interpretar esse arquivo como  um html>

<html lang="pt-br"> <! Área padrão do HTML> 

<head> <! Área de cabeçalho do html> 

    <meta charset="utf-8"/> <!Diz que os caracteres que eu vou usar são latinos(com assento)>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

	<title>Menu Principal</title>
</head>


<body>  <!O código Principal em si>

  <h1 class="formatarGeral">Este é o menu presenças e faltas</h1>
</body>
</html>
